.error{
    background-color: #BC1010;
    padding: 4px 7px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
	font-size: 12px;
}

.Button_green {
	background-color:green;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid green;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:12px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.Button_green:hover {
	background-color:greenyellow;
}
.Button_green:active {
	position:relative;
	top:1px;
}
.Button_blue {
	background-color:blue;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid blue;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:12px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.Button_blue:hover {
	background-color:cyan;
}
.Button_blue:active {
	position:relative;
	top:1px;
}
.Button_red {
	background-color:crimson;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid crimson;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:12px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.Button_red:hover {
	background-color:red;
}
.Button_red:active {
	position:relative;
	top:1px;
}

.Button_purple {
	background-color:purple;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid purple;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:12px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.Button_purple:hover {
	background-color:palevioletred;
}
.Button_purple:active {
	position:relative;
	top:1px;
}

/* for template fixes */
.feature img {
	height: 250px;
	width: 350px;
	margin-bottom: 20px;
	margin-top: 20px;
}

#idioma span {
	color: #51555d;
}

.header-btns {
    width: 237px;
    top: -6px;
	margin-left: 80px;
	color: white;
}

.footer-section {
	padding-bottom: 4em;
}

.hs-item h2 {
	background-color: rgba(0, 0, 0, 0.397);
	display:inline-block;
	padding: 20px;
}

.page-top-section h2 {
	background-color: rgba(0, 0, 0, 0.397);
	display:inline-block;
	padding: 20px;
}

#list {
	margin-top: 3em;
	margin-bottom: 5em;
}

#list .site-btn {
	margin-bottom: 1em;
	margin-right: 1em;
}
.site-btn.sb-red {
background: rgb(219, 125, 125);
}


#dataTable {
	padding-top:0.5em;
	min-height: 590px;
	padding-bottom:0.5em;
}

#dataTable td {
	font-size: 20px;
	height: 50px;
}

#map {
	height: 500px;
}

.search-bar-restaurants {
	padding-bottom: 2%;
	width: 50%;
	margin-left:25%;
}

.search-bar-restaurants input{
	width: 30%;
	margin-right: 2%;
	height: 38px;
}

.inputwrap{
	width: 30%;
	margin-right: 2%;
}
 
.inputwrap input{
	width: 100%;
}

.searchbutton{
	float: right;
	margin-right: 18%;
	height: 38px;
	padding: 1px !important;
}

.spad {
	padding-top: 3% !important;
}

/* The container must be positioned relative: */
.custom-select {
position: relative;
font-family: Arial;
width: 30%;
margin-right: 2%;
}

.lang .custom-select {
	margin-left: 2%;
	width: 15% !important;
}

.custom-select select {
display: none; /*hide original SELECT element: */
}

.select-selected {
background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
position: absolute;
content: "";
top: 14px;
right: 10px;
width: 0;
height: 0;
border: 6px solid transparent;
border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
border-color: transparent transparent #fff transparent;
top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
color: #ffffff;
padding: 8px 16px;
border: 1px solid transparent;
border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
cursor: pointer;
}

/* Style items (options): */
.select-items {
position: absolute;
background-color: DodgerBlue;
top: 100%;
left: 0;
right: 0;
z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
display: none;
}

.select-items div:hover, .same-as-selected {
background-color: rgba(0, 0, 0, 0.1);
} 

.dropdown {
position: relative;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
overflow: auto;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
width: 235px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {
	background-color: #cccccc ;
}
  
.show {display: block;}


.main-menu li a {
	margin-left: 7px !important;
}

/* Details */

.left-column {
	width:50%;
	max-height: 365px;
	max-width: 530px;
}
.left-column img {
	height:100%;
	width:100%;
}
.right-column {
	float:right;
	width:50%;
	padding-left: 10%;
	padding-top: 7%;
	background-color: #dddddd;
}
.right-column ul {
	padding-top: 5%;
	padding-left: 8%;
	font-size: 22px;
}
.right-column h2 {
	font-size: 42px;
}
.details_container {
	display: flex;
	max-height: 500px;
}


/* Login */

.login-page {
  width: 100%;
  padding: 16% 0 0;
  margin: auto;
  z-index: 200;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  height:100%;
  
  display:none; /* default hidden */
}
.l-r-form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  
}
.l-r-form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.l-r-form .login-button-l {
  text-transform: uppercase;
  outline: 0;
  background: #7fabda;
  min-width: 100%;
  border: 0;
  padding: 15px;
  padding-left: 44.5%;
  padding-right: 40%;
  color: #FFFFFF !important;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.l-r-form .login-button-r {
	text-transform: uppercase;
	outline: 0;
	background: #7fabda;
	min-width: 100%;
	border: 0;
	padding: 15px;
	padding-left: 38.5%;
	padding-right: 40%;
	color: #FFFFFF !important;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}
.l-r-form .login-button-l:hover,.l-r-form .login-button-l:active,.l-r-form .login-button-l:focus {
  background: #8cbef3;
}
.l-r-form .login-button-r:hover,.l-r-form .login-button-r:active,.l-r-form .login-button-r:focus {
	background: #8cbef3;
  }
.l-r-form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.l-r-form .message a {
  color: #7fabda;
  text-decoration: none;
}
.l-r-form .register-form {
  display: none;
}
.is-not-valid {
	border-color: red;
	box-shadow: 0 0 0 0.2rem rgba(255, 0 , 25, 0.4);
}
.logged-in {
	width: 24%;
	top: 1px;
	position: absolute;
	left: 95%;
	display:flex;
}
.logged-in h3 {
	color: #7fabda;
}
	
.logged-in img {
	
 	margin-left: 8%;
	margin-top: -5%;
	width: 20%;
	height: 20%;
	border-radius: 25%;
}

.shopping-cart img {
	max-width: 75px;
	max-height: 75px;
	position: absolute;
	margin-top: -20px;
}

.feature a {
	font-size: 22px;
	padding: 5px;
}

.table_cart {
	text-align: center;
	width: 10%;
}
.table_cart a {
	padding-top:5px;
	padding-bottom:5px;
}
.cart-number {
	position: absolute;
	margin-left: 190px;
	margin-top: 3px;
	color: white;
	border-radius: 50%;
	
	width: 36px;
	height: 36px;
	padding: 8px;
	background: #7fabda;
	text-align: center;
	font: 18px Arial, sans-serif;
}
.right-side{
	float:right;
	margin-top: 20px;
	display:flex;
}
.right-side h3{
	margin-right: 10px;
}