<!-- Page Top section -->
<section class="page-top-section set-bg" data-setbg="view/img/bgrestaurant.jpg">
    <div class="container">
        <h2>Shopping cart</h2>
    </div>
</section>
<!-- Page Top section end -->

<!-- Feature section -->
<section class="feature-section spad">
    <div class="container">
        <table id="table_cart" class="table_cart">
            <thead>
                <tr>
                    <td width=200><b>Image</b></td>
                    <td width=300><b>Name</b></td>
                    <td width=50><b>Quantity</b></td>
                    <td width=100><b>Price</b></td>
                    <td width=200><b>Buttons</b></td>
                </tr>
            </thead>
            <tbody id="tbody">
                
            </tbody>
        </table>
        <div class="right-side">
            <h3>Total:</h3><h3 id="carttotal"></h3>
            <a id="checkoutbtn" class="site-btn sb-c3">Checkout</a>
            <a id="emptybtn" class="site-btn sb-red">Empty cart</a>
        </div>
    </div>
</section>
<!-- Feature section end -->
